* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden
}

img {
    display: block;
    // width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: 16px;
    line-height: 1;
    background-color: #fff;
    color: $gray-dark;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    outline: none;
    line-height: normal;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 45px;
    border-radius: 10px;
    color: $gray-dark;
    &--primary {
        background-color: $primary-color;
        color: white;
    }
    &--outline {
        border: solid 1px;
        color: $gray-blur;
    }
}

.block {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.4;
    &-caption {
        text-transform: uppercase;
        margin-bottom: 40px;
        position: relative;
        display: inline-block;
        padding: 0 10px;
    }
    &-caption:before,
    &-caption:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: $primary-color;
        top: 50%;
    }
    &-caption:before {
        left: 0;
        transform: translateX(-100%) translateY(-50%);
    }
    &-caption:after {
        right: 0;
        transform: translateX(100%) translateY(-50%);
    }
    &-caption--left {
        padding-left: 40px;
        margin-bottom: 30px;
    }
    &-caption--left:after {
        display: none
    }
    &-caption--left:before {
        transform: none;
    }
    &-heading {
        line-height: 1.4;
        font-size: 50px;
        span {
            display: block;
        }
    }
}

.text {
    font-weight: 300;
    color: $gray;
    line-height: 1.6;
}